#content, #header, #footer {
    margin-left: 50px;
    margin-right: 50px;
    font-family: DejaVu Sans Light, sans-serif;
}

#content h1, #content h2, #content h3 {
    font-family: DejaVu Sans Mono, monospace;
}

#disqus_thread {
    font-size: 90%;
}

div.document img {
    border: 2px solid #DDD;
}

pre {
    font-size: small;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow: auto;
}



#content pre {
    font-family: DejaVu Sans Mono, monospace;
}

.document pre.literal-block {
    background: lightgrey;
}
#page_title {
    margin-left: 5%;
}

#page_title h1, #page_title h2{
    font-family: DejaVu Sans Light;
    text-align: center;
}

#article-meta h4, #article-meta p{
    font-size: smaller;
    margin-top: 3px;
    margin-bottom: 3px;
}
.centred {
    text-align: center;
}

.menu ul { 
    display: block; 
    padding: 0px; 
    margin: 0px; 
    list-style: none; 
    text-align: center; 
} 

.menu ul li { 
    display: inline; 
    margin: 0px; 
    list-style: none; 
    border: 1px solid #c8c8c8; 
    background-color: #e8e8e8; 
    padding: 1px; 
} 

.menu a { 
    padding: 0px 20px; 
    text-decoration: none; color: darkblue; 
    border: 1px solid white; 
} 

.menu a:hover { 
    background-color: white; 
    border: 1px solid #d8d8d8; 
    color: black; 
} 
#footer_links {
    margin-top: 2ex;
}

/* hacks for captions in code blocks */
div.highlight pre {
    margin-bottom: 0;
}

.caption {
    margin-top: 0;
    text-align: right;
    font-size: 75%;
}
