#content {
    margin-left: 50px;
    margin-right: 50px;
    font-family: DejaVu Sans Light, serif;
}

#content h1, #content h2, #content h3 {
    font-family: DejaVu Sans Mono, monospace;
}

#content pre {
    font-family: DejaVu Sans Mono, monospace;
}

.document pre.literal-block {
    background: lightgrey;
}

#page_title h1, #page_title h2{
    text-align: center;
}

.menu ul { 
    display: block; 
    padding: 0px; 
    margin: 0px; 
    list-style: none; 
    text-align: center; 
} 

.menu ul li { 
    display: inline; 
    margin: 0px; 
    list-style: none; 
    border: 1px solid #c8c8c8; 
    background-color: #e8e8e8; 
    padding: 1px; 
} 

.menu a { 
    padding: 0px 20px; 
    text-decoration: none; color: darkblue; 
    border: 1px solid white; 
} 

.menu a:hover { 
    background-color: white; 
    border: 1px solid #d8d8d8; 
    color: black; 
} 

