<div class="menu">
  <ul>
    {% if page_numbers %}
      <li><a href="{% url home %}">Home / About</a></li>
      {% for p in page_numbers %}
        <li><a href="{% url tutorial p %}">Part {{p}}</a></li>
      {% endfor %}

    {% else %}
      <li><a href="{% url home %}">TTDjango Tutorial</a></li>
    {% endif %}

    <li><a href="http://obeythetestinggoat.com">The Book</a></li>
    <li><a href="{% url blog %}">Blog</a></li>
  </ul>

  <div id="id_flattr_div">
      <a class="FlattrButton" style="display:none;" href="http://www.tdd-django-tutorial.com"></a> <noscript><a href="http://flattr.com/thing/934830/TDD-Django-Tutorial" target="_blank"> <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
  </div>

</div>
