{% extends 'base.html' %}

{% block title %}TDDjangoTutorial{% endblock %}

{% block main_title %}Tutorial{% endblock %}

{% block subtitle %}
  {% if page_number %}
    Part {{page_number}}
  {% else %}
    Home / About
  {% endif %}
{% endblock %}


{% block content %}

  {{rst_contents}}

{% endblock %}


{% block footer %}

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'testdrivendjango'; // required: replace example with your forum shortname
      var disqus_identifier = 'testdrivendjango_tutorial_page{{page_number}}'; 
      var disqus_title = 'Test-Driven Django Tutorial{% if page_number %} Part {{page_number}} {% else %}Home / / About{% endif %}'; 

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  <div id="footer_links">
    <p>Useful Links:</p>
    <p>
      <a href="http://www.pythonanywhere.com/">PythonAnywhere - browser based development and hosting</a>
      &mdash;
      <a href="http://docs.djangoproject.com/en/1.3/intro/tutorial01">The official Django Tutorial</a>
      &mdash;
      <a href="http://pypi.python.org/pypi/selenium">Selenium on PyPI</a>
      &mdash;
      <a href="http://code.google.com/p/selenium/source/browse/trunk/py/selenium/webdriver/remote/webdriver.py">Selenium webdriver documensource</a>
      &mdash;
      <a href="http://code.google.com/p/selenium/source/browse/trunk/py/selenium/webdriver/remote/webelement.py">Selenium webelement documensource</a>
    </p>

  </div>


{% endblock %}
