<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css" /> 
  <link rel="stylesheet" type="text/css" href="/static/pygments.css" /> 
  <meta name="keywords" content="TDD, test driven, Django, Selenium, {% block meta-keywords %}{% endblock %}" />
  <meta name="description" content="Blog accompanying my test-driven Django (with Selenium) tutorial; {% block meta-description %}{% endblock %}" />
  {% block extra-head %}{% endblock %}

</head>


<body>
  
<div id="header">

  <div id="page_title">
    <table>
      <tr>
        <td><a href="http://www.djangoproject.com/"><img src="/static/images/django_pony2.png" alt="The Django Pony" title="The Django Pony" /></a></td>

        <td>
          <h1>Test-Driven Django {% block main_title %}{% endblock %}</h1>
          <h2>{% block subtitle %}{% endblock %}</h2>
        </td>

        <td><a href="http://www.voidspace.org.uk/python/articles/unittest2.shtml"><img src="/static/images/goat_drawing1.png" alt="The Testing Goat" title="The Testing Goat" /></a></td>
      </tr>
    </table>
  </div>

  {% include 'navigation.html' %}

  {% block header %}
  {% endblock %}
</div>

<div id="content">
  {% block content %}
  {% endblock %}
</div>

<div id="footer">
  {% include 'navigation.html' %}
  {% block footer %}
  {% endblock %}
  <div id="license" class="centred">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">TDD Django Tutorial</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tdd-django-tutorial.com" property="cc:attributionName" rel="cc:attributionURL">Harry J.W. Percival</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>
      </p>
    </div>
  
</div>

</body>
</html>
