<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/base.css" /> 
  <meta name="keywords" content="TDD, test driven, Django, Selenium, {% block meta-keywords %}{% endblock %}" />
  <meta name="description" content="Blog accompanying my test-driven Django (with Selenium) tutorial; {% block meta-description %}{% endblock %}" />
  {% block extra-head %}{% endblock %}

</head>


<body>
  
<div id="header">

  <div id="page_title">
    <table>
      <tr>
        <td><a href="http://www.djangoproject.com/"><img src="/static/images/django_pony2.png" alt="The Django Pony" title="The Django Pony" /></a></td>

        <td>
          <h1>Test-Driven Django {% block main_title %}{% endblock %}</h1>
          <h2>{% block subtitle %}{% endblock %}</h2>
        </td>

        <td><a href="http://www.voidspace.org.uk/python/articles/unittest2.shtml"><img src="/static/images/goat_drawing1.png" alt="The Testing Goat" title="The Testing Goat" /></a></td>
      </tr>
    </table>
  </div>

  {% include 'navigation.html' %}

  {% block header %}
  {% endblock %}
</div>

<div id="content">
  {% block content %}
  {% endblock %}
</div>

<div id="footer">
  {% include 'navigation.html' %}

  {% block footer %}
  {% endblock %}
</div>

</body>
</html>
